.appbar {
    width: 100vw;
    height: 3.75rem;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    z-index: 9999;
}

.sidebar {
    width: 14vw;
    height: 100vh;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: black;
}

.main {
    margin-top: 3.75rem;
    padding: 1rem 0;
}

@media only screen and (min-width: 1024px) {
    .main {
        padding: 2rem 0;
    }
}

.container, .nav {
    width: 100%;
    display: flex;
}

.container {
    flex-direction: column;
    padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {
    .container {
        padding: 0 4rem;
    }
}

.nav {
    justify-content: space-between;
}

.list {
    display: flex;
    padding: 0;
}

.listItem {
    list-style: none;
}

.navLink {
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.feed {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media only screen and (min-width: 1024px) {
    .feed {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}

.card {
    width: 100%;
    height: 255px;
    display: flex;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 100ms ease-in-out;
}

.cardContainer {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
}

.card:hover {
    opacity: .95;
}

.baseText {
    margin-right: 0;
}

.buttonContainer {
    position: absolute;
    bottom: 1rem;
}

.cardButton {
    outline: none;
    border: none;
    margin: 0;
    padding: 8px 14px;
    border-radius: 50px;
    background: black;
    color: white;
    font-family: inherit;
    cursor: pointer;
}

.sortBar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0 1rem;
}

.sortButton {
    cursor: pointer;
}